<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="20">
                <md-button class="md-raised md-primary" ng-click="editVacancy.goToVacancies()"> Back </md-button>
            </div>
            <div flex="60">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title">Edit Vacancy</h2>
                    </div>
                </md-toolbar>
                <md-content class="md-padding input-area" layout="row" layout-align="center">
                    <form name="editVacancy.vacancyForm">
                        <div>
                            <md-input-container>
                                <label>Job Title</label>
                                <input type="text" ng-model="editVacancy.data.jobTitle">
                            </md-input-container>
                            <md-input-container>
                                <label>Location Name</label>
                                <input type="text" ng-model="editVacancy.data.location_name" name="location_name">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Lat</label>
                                <input type="text" ng-model="editVacancy.data.lat" name="lat">
                            </md-input-container>
                            <md-input-container>
                                <label>Long</label>
                                <input type="text" ng-model="editVacancy.data.long" name="long">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Company</label>
                                <input type="text" ng-model="editVacancy.data.company">
                            </md-input-container>
                            <md-input-container>
                                <label>Display location</label>
                                <input type="text" ng-model="editVacancy.data.display_location">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container class="md-block">
                                <label>Compulsory Requirements</label>
                                <textarea ng-model="editVacancy.data.compulsoryReqs" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container class="md-block">
                                <label>Preferred Requirements</label>
                                <textarea ng-model="editVacancy.data.preferredReqs" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container class="md-block">
                                <label>Comments</label>
                                <textarea ng-model="editVacancy.data.comments" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Salary Mininum</label>
                                <input type="text" ng-model="editVacancy.data.salary_min">
                            </md-input-container>
                            <md-input-container>
                                <label>Salary Maximum</label>
                                <input type="text" ng-model="editVacancy.data.salary_max">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Age Mininum</label>
                                <input type="text" ng-model="editVacancy.data.age_min">
                            </md-input-container>
                            <md-input-container>
                                <label>Age Maximum</label>
                                <input type="text" ng-model="editVacancy.data.age_max">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Guarantee Time</label>
                                <input type="text" ng-model="editVacancy.data.guarantee_time">
                            </md-input-container>
                            <md-input-container>
                                <label>Working Hours</label>
                                <input type="text" ng-model="editVacancy.data.working_hours">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Food Accomodation</label>
                                <md-select ng-model="editVacancy.data.food_accommodation">
                                    <md-option value="true">
                                        Yes
                                    </md-option>
                                    <md-option value="false">
                                        No
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Education Level</label>
                                <md-select ng-model="editVacancy.data.educationLevel">
                                    <md-option ng-repeat="education in editVacancy.allDropdowns.education" value="{{education}}">
                                        {{education}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Trades</label>
                                <md-select ng-model="editVacancy.data.trade">
                                    <md-option value="{{trade}}" ng-repeat="trade in editVacancy.allDropdowns.trades">
                                        {{trade}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Communication</label>
                                <md-select ng-model="editVacancy.data.communication">
                                    <md-option value="{{communication}}" ng-repeat="communication in editVacancy.allDropdowns.communication">
                                        {{communication}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>License</label>
                                <md-select ng-model="editVacancy.data.license">
                                    <md-option value="{{license}}" ng-repeat="license in editVacancy.allDropdowns.license">
                                        {{license}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Computer</label>
                                <md-select ng-model="editVacancy.data.computer">
                                    <md-option value="{{computer}}" ng-repeat="computer in editVacancy.allDropdowns.computer">
                                        {{computer}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Has Bike</label>
                                <md-select ng-model="editVacancy.data.hasBike">
                                    <md-option value="true">
                                        Yes
                                    </md-option>
                                    <md-option value="false">
                                        No
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Has Smartphone</label>
                                <md-select ng-model="editVacancy.data.hasSmartphone">
                                    <md-option value="true">
                                        Yes
                                    </md-option>
                                    <md-option value="false">
                                        No
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>PF/ESI</label>
                                <md-select ng-model="editVacancy.data.pfesi">
                                    <md-option value="true">
                                        Yes
                                    </md-option>
                                    <md-option value="false">
                                        No
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Show Top</label>
                                <md-select ng-model="editVacancy.data.showTop">
                                    <md-option value="true">
                                        Yes
                                    </md-option>
                                    <md-option value="false">
                                        No
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <!-- <md-card> -->
                         <md-toolbar class="md-table-toolbar md-default">
                            <div class="md-toolbar-tools">
                                <h2 class="md-title">Interview Date</h2>
                                <div flex="" class="flex"></div>
                                <i class="zmdi zmdi-plus " ng-click="editVacancy.addDate()"></i>
                            </div>
                        </md-toolbar>

                        <div ng-repeat="date in editVacancy.data.interviewDates">
                            <md-input-container>
                                <input mdc-datetime-picker date="true" time="true" type="text" placeholder="Choose Date" ng-model="date.date" min-date="minDate" max-date="maxDate">
                            </md-input-container>
                            <i class="zmdi zmdi-delete " ng-click="editVacancy.removeDate($index)"></i>
                        </div>
                        <!-- <md-toolbar class="md-table-toolbar md-default">
                            <div class="md-toolbar-tools">
                                <h2 class="md-title">Extra Fields</h2>
                                <div flex="" class="flex"></div>
                                <i class="zmdi zmdi-plus " ng-click="editVacancy.addDate()"></i>
                            </div>
                        </md-toolbar>
                        <div ng-repeat="field in editVacancy.data.extraFields">
                            <md-input-container>
                                <label>Name</label>
                                <input type="text" ng-model="field.name">
                            </md-input-container>
                            <md-input-container>
                                <label>Value</label>
                                <input type="text" ng-model="field.value">
                            </md-input-container>
                            <i class="zmdi zmdi-delete " ng-click="editVacancy.removeDate($index)"></i>
                        </div> -->
                        <!-- </md-card> -->
                        <div layout="row" layout-align="end">
                            <md-button class="md-raised md-primary" on-click="editVacancy.edit(callbacks)" click-and-disable> Save </md-button>
                        </div>
                        <form>
                </md-content>
            </div>
        </div>
</section>
