<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{jobseeker.name}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" ng-model="jobseeker.name" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Mobile</label>
                        <input type="text" ng-model="jobseeker.mobile" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Education Level</label>
                        <input type="text" value="{{jobseeker.educationLevel}}" disabled>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Gender</label>
                        <input type="text" ng-model="jobseeker.gender" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Date of Birth</label>
                        <input type="text" value="{{jobseeker.dateOfBirth| date:'dd-MM-yyyy'}}" disabled>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Location Name</label>
                        <input type="text" ng-model="jobseeker.location_name" disabled>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Comments</label>
                        <input type="text" ng-model="jobseeker.comments" disabled>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Lat</label>
                        <input type="text" ng-model="jobseeker.location.lat" disabled name="lat">
                    </md-input-container>
                    <md-input-container>
                        <label>Long</label>
                        <input type="text" ng-model="jobseeker.location.long" disabled name="long">
                    </md-input-container>
                    <md-input-container>
                        <label>Work Ex</label>
                        <input type="text" ng-model="jobseeker.workEx" disabled>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Mobile Verified</label>
                        <input type="text" placeholder="{{jobseeker.mobileVerified | true_false}}" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Interview Count</label>
                        <input type="text" ng-model="jobseeker.interview_count" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Has Selected Trades</label>
                        <input type="text" placeholder="{{jobseeker.hasSelectedTrades | true_false}}" disabled>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Last Salary</label>
                        <input type="text" ng-model="jobseeker.lastSalary" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Communication</label>
                        <input type="text" ng-model="jobseeker.communication" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Has Bike</label>
                        <input type="text" placeholder="{{jobseeker.hasBike | true_false}}" disabled>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>License</label>
                        <input type="text" ng-model="jobseeker.license" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Has Smartphone</label>
                        <input type="text" placeholder="{{jobseeker.hasSmartphone | true_false}}" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Computer</label>
                        <input type="text" ng-model="jobseeker.computer" disabled>
                    </md-input-container>
                </div>
                <div>
                    <label>Trades</label>
                    <br/>
                    <div ng-repeat="(key,value) in jobseeker.trades">
                        {{key}} : {{value}}
                    </div>
                </div>
                <div>
                    <label>Photo</label>
                    <md-grid-list md-cols="1" md-cols-md="2" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-gutter="8px" md-gutter-gt-sm="4px">
                        <md-grid-tile md-colspan-sm="1" md-colspan-xs="1">
                            <img ng-src="{{jobseeker.avatar}}" style="max-width: 100%">
                        </md-grid-tile>
                    </md-grid-list>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
